<div class="home-hero">
            <h1>I'm Gusage</h1>
            <h3>Let me help you know how and where your images are being used</h3>

    <br/>
    <div style="opacity: .9;">
        <a class="btn btn-large btn-success" href="#learnMore">Learn more</a>
        <a class="btn btn-large btn-success" href="#register">Register</a>     
    </div>
	<div class="social">
		<h3>Or spreed the word!</h3>
	   	<button class="btn btn-info btn-twitter"><i class="icon-twitter"></i> | Twitter</button>
	   	<button class="btn btn-primary btn-facebook"><i class="icon-facebook"></i> | Facebook</button>	   	
	</div>

</div>

	<h2>
		<a name="learnMore"></a>	
		Welcome to Gusage!
	</h2>
<div class="container">		
	<div class="span6 copy">
    	<p>
    		<b>Gusage</b> is a tool for photographers, designers and other visual artists which aims finding the usage in the web of your images and photographs, enabling you to:	
    			<ul>
    				<li>Know where you work is being used</li>
    				<li>Check if users are meeting the standards for authorship defined in the publication of the image</li>
					<li>See the impact of your work in internet: Press, social, shares and more!</li>        		
				<ul>
    	</p>
   </div>
   
   <!--
    <div class="span6 asset">   		
    	<img class="img-polaroid" src="http://placehold.it/480x300">
    </div>
    -->
</div> <!-- container -->  
