
	 <form class="form-register">
	 	<fieldset>
		<legend>New on Gusage? Register now!</legend>
	        <label>				Email address:
			</label>
			<input type="text" class="input-block-level" placeholder="Type your email address">
	        
	        <label>				First name:
			</label>
	        <input type="text" class="input-block-level" placeholder="Type your first name">
	        
	        <label>				Last name:
			</label>
	        <input type="text" class="input-block-level" placeholder="Type your last name">
	                
	        <label>				Password:
			</label>        
	        <input type="password" class="input-block-level" placeholder="Type your password">
	        
	        <button class="btn  btn-primary" type="submit">Register</button>
	       </fieldset>
      </form>
